.vscode/**
.gitignore
.eslintrc.json
.eslintignore
tsconfig.json
vite.config.ts
package-lock.json
esbuild.js
test_path_resolution.js
src/**
webview/**
node_modules/**
out/**
!dist/**
!media/**
!LICENSE.md
!README.md
!package.json
